<ng-template [ngIf]="(isAuth() | async)">
  <button mat-button [matMenuTriggerFor]="menu">
    <div class="p-2 text-center">
      <img [src]="user?.photoUrl" class="rounded-circle mx-auto d-block" width="30" height="30">
      <label>{{ user?.name }}</label>
    </div>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</ng-template>
<ng-template [ngIf]="!(isAuth() | async)">
  <button mat-button (click)="login()">Login</button>
</ng-template>
