<div class="container">
  <mat-card class="col-md-4 offset-md-4 mt-5">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <div class="example-form">
      <app-gg-login-button (loginSucess)="onLoginGoogle($event)"></app-gg-login-button>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Your password" type="password">
      </mat-form-field>
      <div class="text-center">
        <button mat-button color="primary">Login</button>
      </div>
    </div>
  </mat-card>
</div>
